In [102]:
import pandas as pd
pd.set_option("max_colwidth", None)
pd.set_option("max_seq_items", None)

In [103]:
coach_df = pd.read_csv("./csv/coach_data.csv", sep="\t", encoding="utf-16", parse_dates=["Date","Match Time","Month"])
coach_df.sort_values(by='Match Time', ascending = False, inplace = True)
coach_df.rename(columns={"T Ds": "TDs"}, inplace = True)

/var/folders/sn/c65dp1xd4w9f0_5l1nnpjvtr0000gr/T/ipykernel_46414/1746668845.py:1: DtypeWarning: Columns (19,22,24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  coach_df = pd.read_csv("./csv/coach_data.csv", sep="\t", encoding="utf-16", parse_dates=["Date","Match Time","Month"])
/var/folders/sn/c65dp1xd4w9f0_5l1nnpjvtr0000gr/T/ipykernel_46414/1746668845.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  coach_df = pd.read_csv("./csv/coach_data.csv", sep="\t", encoding="utf-16", parse_dates=["Date","Match Time","Month"])

In [104]:
# cols_to_drop = ["Date", "Description", "Game Description", "Month", "Tournament Name", "Month Filter - Coach Data", 
#                 "Year Filter - Coach Data", "Number of Records", "Most Recent", "URL", "Number of Games (Coach)", 
#                 "Number of Games (Tournament)", "Number of Games (Tournament) (copy)", "Rank (copy)", 'Race In', 
#                 'Race Initial', 'Race Label', 'Race Colour']

cols_to_keep = ['Coach', 'Opponent', 'Nation', 'Opponent Nation', 
       'Location', 'Match Id', 'Match Time', 'Variant',
       'Race', 'Opponent Race',
                 'Rank', 'Opponent Rank', 
                'Result',  'Opponent Result',
                'TDs','Opponent TDs', 
       'Seat', 'Tier',
       'Win %']

coach_df = coach_df[cols_to_keep]

print(coach_df.columns)
coach_df.head(5)

Index(['Coach', 'Opponent', 'Nation', 'Opponent Nation', 'Location',
       'Match Id', 'Match Time', 'Variant', 'Race', 'Opponent Race', 'Rank',
       'Opponent Rank', 'Result', 'Opponent Result', 'TDs', 'Opponent TDs',
       'Seat', 'Tier', 'Win %'],
      dtype='object')

,Coach,Opponent,Nation,Opponent Nation,Location,Match Id,Match Time,Variant,Race,Opponent Race,Rank,Opponent Rank,Result,Opponent Result,TDs,Opponent TDs,Seat,Tier,Win %
205699,toranath,nornbreeder,United States Of America,United States Of America,United States,362701,2023-12-05 22:00:00,Dungeon 7s,Halfling,Skaven,143.00,149.85,L,W,0,1,Away,3.0,0.0%
275510,Grither,UncleSteve,United States Of America,United States Of America,United States,362697,2023-12-05 22:00:00,Dungeon 7s,Elf Union,Necromantic Horror,163.99,156.80,W,L,1,0,Home,2.0,100.0%
265194,nornbreeder,toranath,United States Of America,United States Of America,United States,362701,2023-12-05 22:00:00,Dungeon 7s,Skaven,Halfling,149.85,143.00,W,L,1,0,Home,1.0,100.0%
265196,LichLordBillyD,lcaptainobvious,NaN,NaN,United States,362702,2023-12-05 22:00:00,Dungeon 7s,Shambling Undead,Norse,150.00,143.00,W,L,1,0,Home,1.0,100.0%
249642,Zephiel,tombstone_frank,United States Of America,United States Of America,United States,362698,2023-12-05 22:00:00,Dungeon 7s,Halfling,Orc,156.51,149.83,W,L,1,0,Away,3.0,100.0%

In [105]:
coach_df.describe()

,Match Id,Rank,Opponent Rank,TDs,Opponent TDs,Tier
count,693524.000000,693524.000000,693524.000000,693524.000000,693524.000000,693154.000000
mean,180852.961152,156.242469,156.242469,1.241292,1.241292,1.430443
std,105286.248898,22.638480,22.638480,1.021849,1.021849,0.646486
min,1.000000,0.000000,0.000000,-1.000000,-1.000000,1.000000
25%,88889.000000,144.500000,144.500000,1.000000,1.000000,1.000000
50%,179621.500000,152.100000,152.100000,1.000000,1.000000,1.000000
75%,272381.000000,164.020000,164.020000,2.000000,2.000000,2.000000
max,362939.000000,305.180000,305.180000,11.000000,11.000000,3.000000

In [106]:
coach_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 693524 entries, 205699 to 35085
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Coach            693524 non-null  object
 1   Opponent         693524 non-null  object
 2   Nation           645883 non-null  object
 3   Opponent Nation  645883 non-null  object
 4   Location         693524 non-null  object
 5   Match Id         693524 non-null  int64
 6   Match Time       693524 non-null  datetime64[ns]
 7   Variant          693524 non-null  object
 8   Race             693524 non-null  object
 9   Opponent Race    693524 non-null  object
 10  Rank             693524 non-null  float64
 11  Opponent Rank    693524 non-null  float64
 12  Result           693524 non-null  object
 13  Opponent Result  693524 non-null  object
 14  TDs              693524 non-null  int64
 15  Opponent TDs     693524 non-null  int64
 16  Seat             693524 non-null  object
 17  Tier             693154 non-null  float64
 18  Win %            693524 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(12)
memory usage: 105.8+ MB

In [107]:
coach_df.to_csv("./csv/coach_data_cleaned.csv", sep="\t", encoding="utf-8", index=False)

In [ ]:
# get data ready for ML
coach_df = coach_df[coach_df["Variant"] == 'BB 2020']

coach_df['Result'] = coach_df['Result'] == "W"
coach_df['Result'] = coach_df['Result'].replace({True: 1, False: 0})
coach_df['Seat'] = coach_df['Seat'] == "Home"
coach_df['Seat'] = coach_df['Seat'].replace({True: 1, False: 0})
coach_df['Rank Difference'] = coach_df['Opponent Rank'] - coach_df['Rank']

cols_to_keep = ['Race', 'Opponent Race',
                 'Rank Difference', 
              'Seat','Result']


coach_df = coach_df[cols_to_keep]
coach_df

In [ ]:
coach_df.to_csv("./csv/coach_data_prepared_for_ml.csv", sep="\t", encoding="utf-8", index=False)